/* 
.flip-card {
    margin-top: 4rem;
    background-color: transparent;
    width: 20rem;
    height: 22rem;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #555655;
    color: white;
       font-family: 'Sen', sans-serif;
  }
  .flip-card-front > img{
      width:100%;
      height:100%;
      max-width: 20rem;
      max-height: 18.6rem;
  }
  
  .flip-card-back {
    background-color: #F9DC6E;
    color: white;
    transform: rotateY(180deg);
      font-family: 'Montserrat', sans-serif;
  } */
  .disable{
    color : #888888;
    border : 1px solid #888888;

  }
  .disable:hover{
    color: red !important;
    border: 1px solid red !important;
    cursor: not-allowed !important;
  }



  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  .modal-body {
      background-color:white;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      /* padding: 2px 9px; */
    }
    .modal-body h2{
      text-align: center;
      color: #7AAFF7;
    }