.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }
  .btn-box{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: none;
  }
  
  @media screen and (max-width: 600px){
    .sign-in-and-sign-up{
      width: 400px;
      flex-direction: column;
      margin: 10px auto;
      margin-bottom: 10px;
    }
    .signup{
      display: none;
    }
    .hr{
      display: none;
    }
    .btn-box{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    .btn-box button{
      width: 50%;
      background: none;
      border: none;
      color: #7AAFF7;
      font-size: 17px;
      outline: none;
    }
    #sign-in{
      border-bottom: 2px solid #7AAFF7;
    }
    #sign-up:hover{
     
      border-bottom: 2px solid #7AAFF7;
    }
  }  
  @media screen and (min-width: 600px){
    .signup{
      display: block;
    }
    .signin{
      display: block;
    }
  }
  